h1{
	text-align: center;
	color: #E5E530;
	font-family: cooper black;
	font-size: 75px;

}

h2{ 
	text-align: center;
	font-family: Arial Unicode MS;
	color: #E5E530;
	font-size: 15px;
 }

 img{
 	margin-right: 55px;
 	margin-left: 55px;
 	max-height: 430px;
 	max-width: 430px;
 	margin-top: 150px; 	
 }

 a1{
	color: #E5E530;
 	font-size: 23px;
 	margin-right: 55px;
 	margin-left: 55px;
 }

 a2{
	color: #E5E530;
 	font-size: 23px;
 	margin-right: 125px;
 	margin-left: 115px;
 }

 a3{
	color: #E5E530;
 	font-size: 23px;
 	margin-right: 125px;
 	margin-left: 125px;
 }

 a4{
	color: #E5E530;
 	font-size: 23px;
 	margin-right: 55px;
 	margin-left: 55px;
 }

 a5{
	color: #E5E530;
 	font-size: 23px;
 	margin-right: 115px;
 	margin-left: 115px;
 }

 a6{
	color: #E5E530;
 	font-size: 23px;
 	margin-right: 115px;
 	margin-left: 115px;
 }

a{
	color: #E5E530;
	font-family: cooper black;
	font-size: 50px;
}

body{
	background: #000 url(fondo.jpg);
}